<h4 class="text-center">Login</h4>

<form #form="ngForm" [formGroup]="loginForm" class="form mt-4" (submit)="login()">

    <div class="form-group">
        <input #usuarioLoginInput
            formControlName="login" 
            id="login"
            class="form-control" 
            placeholder="Usuário login" autofocus>
        <ap-vmessage
            *ngIf="loginForm.get('login').errors?.required && form.submitted"
            text="Login do usuário é requerido!">
        </ap-vmessage> 
    </div>

    <div class="form-group">
        <input 
            formControlName="senha" 
            id="senha"
            type="password"  class="form-control"  
            placeholder="senha"> 
        <ap-vmessage
            *ngIf="loginForm.get('senha').errors?.required && form.submitted"
            text="Senha é requerida!">
        </ap-vmessage>           
    </div>

    <button type="submit" class="btn btn-primary btn-block">
        login
    </button>
</form>

<p>Not a user? <a [routerLink]="['signup']">Register now</a></p>