<p class="text-center text-muted" > 
  Carregado
</p>

<div class="container">
  <h3>Lista de clientes <span class="badge badge-secondary">3 novas</span></h3>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">ATIVO</th>
        <th scope="col">Nome</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of categorias">
            <th scope="row">{{categoria.id}}</th>
            <td>{{categoria.ativo}}</td>
            <td>{{categoria.nome}}</td>
        </tr>
    </tbody>
  </table>
</div>