<p class="text-center text-muted" > 
  Carregado
</p>

<div class="container">
  <h3>Lista de clientes <span class="badge badge-secondary">3 novas</span></h3>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Rua</th>
        <th scope="col">Número</th>
        <th scope="col">Bairro</th>
        <th scope="col">Cidade/UF</th>
        <th scope="col">Complemento</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <th scope="row">{{cliente.id}}</th>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.telefone}}</td>
            <td>{{cliente.endereco.rua}}</td>
            <td>{{cliente.endereco.numero}}</td>
            <td>{{cliente.endereco.bairro}}</td>
            <td>{{cliente.endereco.cidade}}-{{cliente.endereco.estado}}</td>
            <td>{{cliente.endereco.complemento}}</td>
        </tr>
    </tbody>
  </table>
</div>